doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    //smoosh
    link(type='text/css', rel='stylesheet', href='./app.css')
    //endsmoosh
    title Page Title
  body
    h1 Hello World!
    //smoosh
    script(type='text/javascript', src='./app.js')
    //endsmoosh
